<ion-header *ngIf="comentariosAbiertos">
  <ion-toolbar>
    <ion-title>Comentarios</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  
  <ion-item>
    <ion-input
      label="Comentá"
      labelPlacement="stacked"
      type="text"
      placeholder="Tu comentario"
      [(ngModel)]="comentario"
    ></ion-input>
    <ion-buttons slot="start">
      <ion-button (click)="volver()">Volver</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()" [strong]="true">Confirmar</ion-button>
    </ion-buttons>
  </ion-item>
  <textarea readonly>{{ message }}</textarea>
</ion-content>
