ion-card{
    padding-bottom: 5px;
}
ion-card-content{
    padding-bottom: 1px;
}
ion-textarea{
    margin-left: 10px;
}
.grid-nuevaPublicacion{
    background-color: rgb(169, 213, 225);
    padding: 15px 8px;
}

.fotoPerfil {
    width: 50px; 
    height: 50px; 
    border-radius: 50%;
    margin-right: 10px; 
}
#fotoPerfil1 {
    width: 50px; 
    height: 50px; 
    border-radius: 50%;
    margin-right: 0px; 
}

.enColumna{
    display: flex;
    flex-direction: column;
}
.enColumna h2{
    margin: 4px 0px 2px 5px;
   
}
.tiempo{
    margin: 0px 0px 2px 5px;
}
