<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title>ejemPerfil23</ion-title>
    </ion-toolbar>
  </ion-header>
  <div>
    <img src="../../assets/img/modelo-foto-perfil.webp" alt="foto perfil">
    <div>
      <p>Publicaciones</p>
      <p>{{ publicaciones }}</p>
    </div>
    <div>
      <p>Seguidores</p>
      <p>{{ seguidores }}</p>
    </div>
    <div>
      <p>Siguiendo</p>
      <p>{{ siguiendo }}</p>
    </div>
  </div>

</ion-content>
