<ion-content [fullscreen]="true">
  <ion-header collapse="condense" class="header1">
    <ion-toolbar>
      <ion-back-button icon="arrow-undo-sharp" text="" slot="start" defaultHref="/"></ion-back-button>
      <ion-title>TomRiddle1926</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="header2">
    <img src="../../assets/img/tomRiddle.webp" alt="foto perfil">
    <div>
      <p>Publicaciones</p>
      <p>{{ publicaciones }}</p>
    </div>
    <div>
      <p>Seguidores</p>
      <p>{{ seguidores }}</p>
    </div>
    <div>
      <p>Siguiendo</p>
      <p>{{ siguiendo }}</p>
    </div>
  </div>
  <div class="header3">
    <p class="header3__text-nombre">{{ header_3_text_nombre }}</p>
    <p class="header3__text-edad">{{ header_3_text_edad }}</p>
    <p class="header3__text-lugar">{{ header_3_text_lugar }}</p>
    <p class="header3__text-oficio">{{ header_3_text_oficio }}</p>
  </div>
  <div class="header4">
    <ul>
      <li *ngFor="let historia of historias"><img src="../../assets/img/modelo-foto-perfil.webp" alt="">{{ historia }}</li>
    </ul>
  </div>
  <div class="main">
    <img src="../../assets/img/1.jpg" alt="img 1">
    <img src="../../assets/img/2.jpg" alt="img 2">
    <img src="../../assets/img/3.jpg" alt="img 3">
    <img src="../../assets/img/4.jpg" alt="img 4">
    <img src="../../assets/img/5.jpg" alt="img 5">
    <img src="../../assets/img/6.jpg" alt="img 6">
    <img src="../../assets/img/7.jpg" alt="img 7">
    <img src="../../assets/img/8.jpg" alt="img 8">
    <img src="../../assets/img/9.jpg" alt="img 9">
  </div>

</ion-content>
