.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #e0e0e0; /* Puedes ajustar el color de fondo según tus preferencias */
  }
  
  .titulo {
    flex-grow: 1; /* El título ocupará el espacio disponible en el centro */
    text-align: center;
    font-size: 30px;
  }
  
  .titulo-contenido {
    font-weight: bold;
  }
  
  .app-name{
    width: 10%;
  }
  .message{
    width: 5%;
  }