.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #ffffff; 
  }
  
  .titulo-contenido {
    font-weight: bold;
    flex-grow: 1; /* El título ocupará el espacio disponible en el centro */
    text-align: center;
    font-size: 30px;
  }
  
  .app-name{
    width: 20%;
  }
  .message{
    margin-right: 25px;
    margin-left: 60px;
    width: 5%;
  }